.outer{
    height: fit-content;
    width: 100%;
    border-bottom: 4px solid black;
}

.inner{
    width: 90vw;
    max-width: 900px;
    height: fit-content;
    margin: auto;
    display: flex;
}
img{
    border-radius: 50%;
    margin: 50px 10px;
}

.text{
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-left: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

@media screen and (max-width: 700px){
    .inner{
        flex-direction: column;
    }
    img{
        margin: 50px auto 10px auto;
    }
    .text{
        margin: 0px auto 50px auto;
        
    }
}