.outer {
  width: 100%;
  height: fit-content;
  background-color: var(--primary-yellow);
}

.inner {
  width: 90vw;
  margin: auto;
  max-width: 1000px;
  display: flex;
}
.pricing-text,
.pricing-card {
  width: 50%;
  height: fit-content;
  padding: 10px;
  margin: auto;
}
h2{
  font-size: 6rem;
  line-height: .8;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .inner {
    flex-direction: column;
  }
  .pricing-text,
  .pricing-card {
    width: 100%;
  }

  h2{
    margin: 20px auto 10px auto;
  }
}
