/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
    --primary-yellow: #fbca1f;
    --secondary-black: #1b1b1e;
    --white--text: #fbfffe
}

body{
   background-color: var(--secondary-black);
}